# Git
.git
.github
.gitignore

# Frontend
frontend/node_modules
frontend/.env.local
frontend/.env.development

# Backend
backend/target
backend/.idea
backend/*.iml

# Docker (avoid recursive copy)
Dockerfile
docker-compose*.yml

# IDE / OS
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db

# Docs
docs/
LICENSE
readme.md
